@import "tailwindcss";
@theme {
  --color-brand: #0a007c;
}
html,
body {
  background-color: #f7fafb;
}
.wrapper {
  @apply max-w-300 mx-auto px-4;
}

.para-1 {
  @apply text-sm font-normal text-white;
}
.para-2 {
  @apply text-sm sm:text-base font-semibold text-center text-white;
}
.para-3 {
  @apply text-blue-500 font-bold text-4xl;
}

.para-5 {
  @apply text-yellow-700 text-sm font-medium hover:underline;
}
.head-1 {
  @apply text-xl font-semibold text-black;
}
.head-2 {
  @apply text-base font-medium text-black;
}
.head-3 {
  @apply text-center text-white font-semibold text-xl md:text-2xl lg:text-3xl;
}

.head-4 {
  @apply text-xl sm:text-2xl text-center text-white font-semibold;
}

.para-4 {
  @apply text-sm font-normal text-gray-500;
}
.para-6 {
  @apply text-sm font-normal text-gray-400;
}
.head-5 {
  @apply text-yellow-500 font-semibold text-sm;
}
