@import "tailwindcss";
@theme {
  --color-brand: #0a007c;
}

.wrapper {
  @apply max-w-300 mx-auto px-4;
}

.para-1 {
  @apply text-sm font-normal text-white;
}

.head-1 {
  @apply text-xl font-semibold text-black;
}
.head-2 {
  @apply text-base font-medium text-black;
}
